#chart{
  height: 500px;
}
.currentWeather{
  height: 60px;
  border: 1px red solid;
}
@media only screen and (max-width: 768px) {
  #chart{
    border: 1px red solid;
    width: 100%;
    padding: 0;
    height: 380px;
  }
}